$info_padding: 1.5em
$info_gap: 0.3em
$name_size: 1.5em
$first_row_size: 2em
$meta_size: 1.9em
$meta_font_size: 0.9em
$card_height: ($info_gap*2) + ($info_padding*2) + $first_row_size + $meta_size*2
$image_height: ($info_gap*2) + $first_row_size + $meta_size*2
$image_width: 10em

$height_progress: 4px
$width_progress: 200px

.container
  padding-left: 20px
  display: grid
  grid-template-columns: $image_width 1fr
  height: $card_height
  position: relative
  &:hover
    background: #363741 

.image
  &_container
    grid-area: 1 / 1 / span 2 / span 1
    max-height: $image_height
    overflow: hidden
    margin-bottom: $info_padding
    margin-top: $info_padding

  &_preview
    max-height: $image_height
    object-fit: cover
    position: relative

  &_cover
    position: absolute
    background: linear-gradient(81.21deg, #3378BD 9.02%, #FF8576 90.81%)
    opacity: 0
    z-index: 1
    height: $image_height
    width: $image_width

.dependency
  &__container
    position: relative
    grid-area: 1 / 2
    padding: $info_padding
    display: grid
    gap: $info_gap
    grid-template-rows: $first_row_size $meta_size $meta_size
    grid-template-columns: 1fr

  &__name
    grid-area: 1 / 1 / span 1 / span 3
    font-size: $name_size
    overflow: hidden
    word-break: keep-all
    text-overflow: ellipsis
    white-space: nowrap

  &__category
    font-size: $meta_font_size - 0.1em
    font-family: Montserrat, serif
    grid-area: 2 / 1 / span 1 / span 4
    text-transform: uppercase
    color: #F27A54

  &__level
    text-transform: uppercase
    grid-area: 1 / 4


  &__meta
    &_container
      grid-area: 3 / 1
      display: flex
      flex-direction: row
      gap: 1.5em
      align-items: flex-end
      overflow: hidden
      column-width: 1px
      flex-wrap: wrap
      & > *
        font-size: $meta_font_size
        font-family: Montserrat, serif

    &__time
      &_duration
        font-weight: bold
        color: #F27A54
      &_unit
        margin-left: 0.5em

    &__info_row
      height: 100%
      white-space: nowrap
      display: flex
      align-items: flex-end
      column-gap: 1.5em

.progress
    display: flex
    flex-direction: row
    margin-left: auto  
    grid-area: 2 / 1 / span 1 / span 4     
.wrapperProgress
    width: $width_progress
    height: $height_progress
    align-self: center
.progressTime
    margin-right: 10px
    align-self: center
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 0.9em  


\:global(.ui.progress .bar)
    border-radius: 0px
    height: $height_progress
    background: linear-gradient(83.47deg, #0084F8 9.02%, #FF8576 90.81%) !important
\:global(.ui.progress .label)
    color: #ffffff !important
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 0.9em 