@import 'src/styles/common'
@import 'src/styles/common_variables'

$container_width: 1400px
$side_padding: 80px

.page
  padding-top: $header_height
  background: #121421
  flex: 1

.wideContainer
  max-width: $container_width + ($side_padding * 2)
  margin-left: auto !important
  margin-right: auto !important
  padding-left: $side_padding
  padding-right: $side_padding

.authorMainContainer
  color: white
  background: #121421
  display: grid
  grid-template-columns: 0 20% 80%
  grid-template-rows: 2vh 2vh 22vh 1fr
  grid-template-areas: ". . . . " " . avatar . . " " . avatar cards . " " . authorInfo list . "
  margin-bottom: $last_margin

.authorAvatarWrapper
  grid-area: avatar
  display: flex
  align-items: center
  justify-content: flex-start
  height: 100%
  padding: 1em 1em 0 0

.authorPublicAvatar
  height: 100%
  width: 23vh
  object-fit: cover
  border-radius: 50%

.authorMainInfoWrapper
  grid-area: authorInfo

.authorNamePublicPage
  display: flex
  justify-content: flex-start
  padding-bottom: 1.7%
  padding-top: 5%
  font-size: 1.5vw
  font-weight: lighter

.authorKnewlessStatic
  font-size: 110%
  font-weight: lighter
  padding-bottom: 2%

.cardSchoolLinkWrapper, .cardSchoolLinkWrapper:hover
  grid-area: schoolCard
  color: white
  border-right: 2px solid rgba(255, 255, 255, 0.1)

.subscribersNumber
  display: flex
  align-items: center
  padding-top: .5em
  font-size: 1.1vw
  font-weight: lighter

.authorNumberFollowers
  font-weight: bold

.authorBiography
  padding-top: 7%
  word-break: break-word
  padding-right: 15%
  font-size: 0.9vw

.cardsAuthorPublicPageWrapper
  grid-area: cards
  height: 100%
  background: #2A2B37
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1)
  border-radius: 0

  .cardsGridLines
    height: 100%
    display: grid
    grid-template-columns: calc(100% / 3 + 2px) calc(100% / 3 + 2px) calc(100% / 3 - 4px)
    grid-template-rows: 0 100%
    grid-template-areas: " . . . " " coursesNumber schoolCard articlesNumber " " . . . "

    .cardCoursesNumberWrapper, .cardArticlesNumberWrapper
      color: white

    .cardCoursesNumberWrapper
      grid-area: coursesNumber
      border-right: 2px solid rgba(255, 255, 255, 0.1)

    .cardArticlesNumberWrapper
      grid-area: articlesNumber

    .cardStyleAuthorPublic
      height: 19.8vh
      display: grid
      grid-template-rows: 75% 15%
      grid-template-areas: " mainPart " " bottomPart "
      justify-content: center
      align-items: center

      .cardMainInfo
        grid-area: mainPart

      .cardMainInfo, .cardBottomText
        height: 100%
        display: flex
        align-items: center
        justify-content: center

      .cardTextField
        padding-top: .1em
        height: 100%
        font-size: 5vw
        text-align: center

      .cardBottomText
        grid-area: bottomPart
        height: 100%
        padding-top: .1em
        font-size: 1.3vw

.listCoursesArticlesWrapper
  grid-area: list

svg
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3))
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25))

.author_action_buttons
  display: flex
  justify-content: flex-start
  align-items: flex-start
  align-content: flex-start
  flex-direction: column
  padding: 1em 5em 1.5em .1em
  text-transform: uppercase

\:global(.ui.button).authorFollowButton
  width: 100%
  padding: 2px
  margin-bottom: .5em
  text-align: center
  height: 3em

.unfollow
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  width: 100%
  height: 2.7em
  background: #121421

  .textButtonUnfollow
    background: -webkit-linear-gradient(70.06deg, #FF8576, #0084F8, #FF8576)
    background-size: 300%
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    transition: all .6s ease-in-out

.button_favourite_wrp
  width: 100%
  height: 3.1em
  font-weight: 700
  &>*
  font-size: 1em !important

.menu
  color: #fff
  position: relative

.menu__header
  width: 100%
  margin: 1rem 0

.menu__options
  display: grid
  grid-template-columns: 6vw 7vw auto
  grid-template-rows: 1fr 0.1rem
  justify-items: center

  p
    font-size: 1.3vw
    font-weight: 600

.menu__button
  display: flex
  padding: 0.2rem 0 0.7rem 0
  cursor: pointer
  background: transparent
  outline: none
  border: none

  *
    transition: all 0.3s ease-in-out

.button_selected
  p
    color: #58C2F1

.button_ordinary
  p
    color: #596C7E

  &:hover
    p
      color: #58C2F1

.separator
  background: #596C7E
  width: 100%

.selected_separator
  background: linear-gradient(83.47deg, #0084F8 9.02%, #FF8576 90.81%)
  width: 100%

.menu__content_container
  position: relative
  margin-bottom: 1vh
  overflow-y: auto
  background: #2A2B37 !important

  .coursePreviewWrapper, .articlePreviewWrapper
    border-bottom: 2px solid #434558

    .preview
      background: #2a2b37

      &:hover
        background: #363741
