.content
  display: flex
  justify-content: flex-start
  margin-top: 1.5rem

  h1
    font-size: 2em
    font-weight: 600
    margin-bottom: 1rem

.description
  min-width: 70%
  width: 70%
  padding-right: 3rem

  p
    line-height: 156%
    font-size: 1.105em
    color: #aaa

  .no_description
    font-size: 1.5em
    font-style: italic
    opacity: 0.8

.authors
  margin-top: 1rem
  max-width: 100%
