.lecture__container
    display: grid
    padding: 1.3em
    width: inherit
    grid-template-columns: 7% 64% 15% 14%
    border-bottom: 1px solid #7a7171

    &:hover
      background: #2e3e4e

.meta
  &__playIcon
    grid-column-start: 1
    grid-column-end: 2
    align-self: center

  &__name
    grid-column-start: 2
    grid-column-end: 3
    justify-self: start
    align-self: center
    cursor: default
    color: white
    display: -webkit-box
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    overflow: hidden

  &__time
    grid-column-start: 3
    grid-column-end: 4
    font-size: 0.8em
    justify-self: center
    align-self: center
    cursor: default
    color: white

  &__actionButton
    grid-column-start: 4
    grid-column-end: 5
    align-self: center
    justify-self: flex-end

\:global(.ui.basic.label).toolBarIcon
  background: inherit
  border: none
  padding: 0
  color: white

  &:hover
    cursor: pointer
    filter: brightness(130%)

.btn
  &_add, &_remove
    $btn-height: 1.5em
    transition: opacity 3s ease-in-out
    height: $btn-height
    width: $btn-height
    cursor: pointer
    text-align: center !important
    line-height: 130% !important
    margin: 1em !important

  &_add
    color: #8e8e94 !important
  &_remove
    color: #f0c4ee !important



