    display: grid
    padding: 1.6em
    width: inherit
    grid-template-columns: 7% 64% 15% 14%
    border-bottom: 1px solid #7a7171

    &:hover
      background: #2e3e4e

.meta
  &__playIcon
    grid-column-start: 1
    grid-column-end: 2
    align-self: center

  &__name
    grid-column-start: 2
    grid-column-end: 3
    justify-self: start
    align-self: center
    cursor: default
    color: white

  &__time
    grid-column-start: 3
    grid-column-end: 4
    font-size: 0.8em
    justify-self: center
    align-self: center
    cursor: default
    color: white

  &__actionButton
    grid-column-start: 4
    grid-column-end: 5
    align-self: center
    justify-self: flex-end

\:global(.ui.basic.label).toolBarIcon
  background: inherit
  border: none
  padding: 0
  color: white

  &:hover
    cursor: pointer

    
    
