#author_dropdown_menu
  border: none !important
  background: #121421 !important
  #dropdown_item
    border-radius: 3px
    color: white
  #dropdown_item:hover
    border-radius: 3px
    background: #0084f8 !important
    transition: 0.5s

