.ui.dropdown .menu
  border: none !important
  background: #121421 !important

.ui.dropdown .icon:hover
  opacity: 0.8 !important

.ui.dropdown .menu > .item:hover
  background: #0084f8 !important
  transition: 1s
  opacity: 0.8
