.redux-toastr .toastr.rrt-error, .redux-toastr .rrt-success
    color: rgba(255, 255, 255, 1)
    opacity: 1
    width: 100%
    margin: 0
    border-radius: 0
    box-shadow: none
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    min-height: 100%
    /*border-bottom: 1px solid #737373*/

.redux-toastr .toastr.rrt-error
    background-color: #da0000

.redux-toastr .toastr.rrt-success
    background-color: #009e53

.redux-toastr .top-center
    margin: 0
    left: 0
    width: 100%
    padding: 0
    height: 4.5%

.redux-toastr .top-center *
    height: 100%

.redux-toastr .toastr .rrt-left-container, .redux-toastr .toastr .rrt-right-container, .redux-toastr .toastr .rrt-left-container .rrt-holder, .redux-toastr .toastr .rrt-left-container .toastr-icon, .redux-toastr .toastr .close-toastr
    width: 0 !important

.redux-toastr .toastr .rrt-middle-container
    width: 100%
    margin: 0
    padding: 0
    height: 100%

.redux-toastr .toastr .rrt-middle-container .rrt-title
    text-align: center
    height: 100%
    margin: 0
    display: flex
    justify-content: center
    align-items: center
    font-weight: normal