\:global(.ui.button).button_login
    width: 71px
    height: 30px
    border-radius: 20px
    margin-right: 15px
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 10px
    line-height: 12px
    align-items: center
    background: inherit
    text-transform: uppercase
    color: #FFFFFF
    border-color: white 
    border-style: solid

\:global(.ui.button).button_register
    width: 91px
    height: 30px
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 10px
    line-height: 12px
    align-items: center
    text-transform: uppercase
    color: #FFFFFF
    background: linear-gradient(90deg, #F27A54 0%, #A154F2 186.42%)
    border-radius: 20px
