.container
  background: #2B2A36
  display: grid
  grid-template-columns: 5em 1fr
  grid-template-rows: 3.3em 1em
  padding: 3em 2em
  grid-gap: 0.5em

.logo
  object-fit: cover
  max-width: 4.7em
  min-height: 4.7em
  grid-area: 1 / 1 / span 2

.title
  font-size: 1.5em
  color: #fff
  grid-area: 1 / 2 / span 1 / span 1
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  //noinspection CssUnknownProperty https://caniuse.com/#search=line-clamp
  -webkit-line-clamp: 2 /* number of lines to show */
  -webkit-box-orient: vertical

.meta
  display: flex
  grid-area: 2 / 2
  gap: 1em
  span
    font-size: 0.9em
    color: #fff

.indicator
  color: #FF8576 !important
  font-weight: bold
