.popupMenu
  padding: 0 !important
  margin: 0 !important
  border: 0 !important
  font-family: "Custom Open Sans", serif
  font-style: normal
  font-weight: 600
  font-size: 0.9em !important
  line-height: 0.9em

  .dividerMenu
    padding: 0
    margin: 0
    background: #121421 !important
    height: 1px
    border: 0

  .iconMenu
    color: #121421 !important

  .titleMenu
    color: #121421 !important
    padding: 0
    margin: 0

  .lastItemMenu
    padding: 13px 10px 13px 10px !important

    &:hover
      background: #e9e9e9d7

  .itemMenu
    padding: 11px 10px 11px 10px !important

    &:hover
      cursor: pointer
      background: #e9e9e9d7

.username
  padding-top: 1em !important
  padding-bottom: 1em !important
  width: 100%
  border-radius: 0 !important
