.course_card
  margin: 0 !important
  height: 100%
  width: 100% !important
  border-radius: 0 !important
  background: #2B2A36 !important
  box-shadow: none !important

.inner_wrapper
  padding: 2em 2em 0 !important
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 2em

.title
  font-size: 1.5em !important
  font-weight: normal !important
  color: white !important
  flex-grow: 1

.btns
  display: flex
  flex-direction: row
  justify-content: flex-start
  width: 100%
  span
    margin-right: 0.7em

.dropdown_right
  margin-left: auto

.meta_info
  display: flex
  flex-direction: row
  color: #CBCFD4 !important
  gap: 1em

  span
    margin-right: 1em
