.item
    color: #121421
    display: flex
    width: 30em
    flex-flow: column
    border-bottom: solid
    margin-bottom: 3%
    border-bottom-width: 1px
    justify-content: center

.unread
    background-color: lightgray

.link
    color: black
    display: inline-block
    margin-right: 3px
    text-decoration: underline

.link:hover
    color: black
    text-decoration: underline


\:global(.ui.basic.label).deleteBtn
  border: none
  background: inherit

.content
    display: flex
    flex-flow: row
    align-items: center
    justify-content: space-between

.text
    width: 70%

.time
    margin-top: 1%
    margin-left: 10%
    align-self: flex-start
    font-style: italic