@import 'src/styles/common_variables'
@import '../../styles/variables'

.content
  padding-top: $header_height
  background-color: #121421
  display: flex
  flex-direction: column
  max-width: $container_width + ($side_padding * 2)
  padding-left: $side_padding
  padding-right: $side_padding
  flex: 1
  *
    word-break: break-word

  &__loading
    padding-top: $header_height * 2

.navigation_layer
  background: #2A2B37
  padding: 4em 0
  color: white

.wide_container
  max-width: $container_width + ($side_padding * 2)
  margin-left: auto
  margin-right: auto
  padding-left: $side_padding
  padding-right: $side_padding
