$circle_size: 30px
$container_size: 40px

.container
  width: $container_size
  height: $container_size
  position: relative

.ellipsis1, .ellipsis2, .ellipsis3, .back1, .back2, .back3
  position: absolute
  width: $circle_size
  height: $circle_size
  border-radius: 50%

.ellipsis1, .ellipsis2, .ellipsis3
  background: linear-gradient(83.47deg, #0084F8 9.02%, #FF8576 90.81%)
  mix-blend-mode: screen

.back1, .back2, .back3
  background: black

.ellipsis1, .back1
  left: 0
  top: $container_size - $circle_size

.ellipsis2, .back2
  left: ($container_size - $circle_size) / 2
  top: 0

.ellipsis3, .back3
  left: $container_size - $circle_size
  top: $container_size - $circle_size
