.avatar
  width: 75px
  height: 75px
  cursor: pointer

\:global(.ui.basic.label).toolbarBtn
  border: none
  background: inherit
  justify-content: center
  display: flex
  margin: auto
  cursor: pointer

.profileWrp
  display: flex
  align-items: center
  justify-content: flex-end

#popup
  padding: 0

  &:before
    right: 2.2em
    z-index: -1
