.imageborder
    border-radius: 999em
    width: 75px
    height: 75px
    background: linear-gradient(83.47deg, #0084F8 9.02%, #FF8576 90.81%)
    line-height: 0

.avatar
    border-radius: 999em
    height: 65px
    width: 65px
    margin: 5px

\:global(.ui.basic.label).toolbarBtn
  border: none
  background: inherit
  justify-content: center
  display: flex
  margin: auto
  cursor: pointer

.profileWrp
  display: flex
  align-items: center
  justify-content: flex-end
#popup
  padding-left: 0 
  padding-right: 0
  padding-bottom: 0 
  