.overview_container
    & *
      color: unset !important
      list-style: disc
      margin: 16px 0

    & li
      margin: 5px 40px

    & pre
      background-color: #f7f7f7
      padding: 16px
      border: 1px solid #b9b9b9

    & a
      text-decoration: underline

      &:hover
        text-decoration: underline
        color: #0086af !important

    & table *
      padding: 10px
      border: 1px solid #b9b9b9

    & blockquote
      border-left: 10px solid #b9b9b9
      background-color: #b9b9b91c

      & blockquote
        margin-left: 20px
        background-color: transparent

      & > *
        margin-left: 10px

      & > *:first-child
        padding-top: 16px

      &> *:last-child
        padding-bottom: 16px
