.container
  height: 100%
  display: flex
  flex-direction: column
  gap: 0.5em

.header
  display: flex
  align-items: flex-end
  text-transform: capitalize
  flex-direction: row
  height: 3.2em

.add_button
  margin-left: auto !important

.list_container
  height: 94%
  padding-bottom: 1em

.modal__header, .modal__content
  background: #2A2B37 !important
  color: white !important
  border-radius: 0 !important

.modal__content
  max-height: 80vh !important
  height: 80vh !important
  overflow-y: auto



@media screen and (min-width: 991px)
  \:global(i.close.icon::before)
    cursor: pointer
    position: absolute
    font-size: 15px
    color: #c7c7ce
    left: -40px
    top: 57px

