@import "src/styles/common"
@import "src/styles/common_variables"
$container_width: 1400px
$side_padding: 80px
$avatar_size: 10em
$height_wrap_img: 14em
$width_btn: 115px
$height_btn: 40px

body
  background: #2A2B37

.settings
  margin: auto
  padding-top: $header-height
  color: #ffff
  width: 100%
  display: flex
  flex-direction: column

.wrapperTitle
  background: #2A2B37 !important

#settingsTitle
  margin: auto
  width: 100%
  max-width: $container_width + ($side_padding * 2)
  padding: 30px $side_padding 20px
  color: #ffff
  font-family: Custom Open Sans, serif
  font-style: normal
  font-weight: 600
  font-size: 1.5em
  line-height: 1.5em

.formSettings
  max-width: $container_width + ($side_padding * 2) !important
  width: 100%
  padding-left: $side_padding
  padding-right: $side_padding
  margin-left: auto !important
  margin-right: auto !important
  padding-bottom: 30px

  .formField
    margin-bottom: 1em !important

    \:global(.ui.pointing.label)
      &
        background-color: #f7d0d0 !important
        color: black !important
        margin: 0 !important
        width: 100% !important
        border-radius: 0 0 5px 5px !important

  .formButtons
    margin-top: 3em !important

  .roundedBottomField
    input[type="text"], textarea
      border-bottom-left-radius: 0 !important
      border-bottom-right-radius: 0 !important

  \:global(.ui.pointing.label)::before
    display: none !important

  .formCheckBox
    margin-bottom: 30px !important
    margin-right: 20px !important

  #personalTitle
    margin-top: 40px
    margin-bottom: 20px
    font-size: 1.25em

  #demographicTitle
    margin-top: 100px
    margin-bottom: 20px

  .title
    font-family: Custom Open Sans, serif
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px

  #textBio
    overflow: auto
    resize: none

  .Btn
    margin-left: 0.5em
    margin-right: 1.5em

label
  color: #ffff !important
  font-family: Custom Open Sans, serif
  font-style: normal
  font-weight: normal !important
  font-size: 1em !important
  line-height: 1.5em !important

.wrapperAvatar
  background: linear-gradient(52.17deg, #0084F8 9.02%, #FF8576 90.81%)
  height: $height_wrap_img
  display: flex
  justify-items: center
  align-items: center
  text-align: center
  align-content: center

  .avatar
    width: $avatar_size
    height: $avatar_size
    border-radius: 50%
    padding: 0
    display: flex
    align-self: center
    align-content: center
    margin: auto
    overflow: hidden

.tagSelector > div > div > div > input
  max-width: 100% !important
  margin: 0 !important
  padding: 0 !important
  border: 0 !important
  outline: none !important
  font-size: 1.1em !important
  line-height: inherit !important
  background: none !important
  color: #fff !important

.tagSelector > .react-tags > .react-tags__search
  padding: 0 !important

.uploader
  background: white

.tagSelector
  margin-bottom: 3%

.interests
  margin-bottom: 1%
