$image_size: 10rem
.card
  width: 100%
  display: grid
  position: relative
  grid-template-columns: 0.2fr 1fr
  grid-template-rows: minmax(2rem, auto) minmax(3rem, auto)
  align-items: center
  margin-top: 1rem
  margin-bottom: 1rem
  grid-column-gap: 0.7rem

.author__image
  margin: 10px
  justify-self: center
  align-self: center 
  width: $image_size
  height: $image_size
  object-fit: cover
  grid-column: 1
  grid-row: 1/3
  border-radius: 50%
  border: 0.1rem solid white

.wrapName
  color: #fff
  display: flex 
  flex-direction: column
  align-items: flex-start
  grid-column: 2
  grid-row: 1
  .written
    font-size: 1.4em
    color: #d8d8d8
    padding: 10px 0
  .name
    font-size: 1.8em
    font-weight: bold
    color: #fff
    padding-bottom: 20px 

.biography
  width: 100%
  align-self: flex-start
  font-size: 1.6em
  overflow: hidden
  line-height: 1.3em
  height: 2.6em
  color: #fff
  grid-column: 2
  grid-row: 2
