.elipse1
    position: absolute
    width: 30px
    height: 30px
    left: 0px
    top: 13px
    background: linear-gradient(83.47deg, #0084F8 9.02%, #FF8576 90.81%)
    mix-blend-mode: screen
    border-radius: 50%

.elipse2
    position: absolute
    width: 30px
    height: 30px
    left: 8px
    top: 6px
    background: linear-gradient(83.47deg, #0084F8 9.02%, #FF8576 90.81%)
    mix-blend-mode: screen
    border-radius: 50%

.elipse3
    position: absolute
    width: 30px
    height: 30px
    left: 13px
    top: 13px
    background: linear-gradient(83.47deg, #0084F8 9.02%, #FF8576 90.81%)
    mix-blend-mode: screen
    border-radius: 50%

.logo
    height: 50px
    width: 50px
    position: relative
