.headerWrp
    background: #121421
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1)
    position: fixed
    height: 100px
    width: 100%
    top: 0px
    flex-direction: row
    z-index: 100

.icon
    height: 50px
    width: auto

.headerWrp,
.headerWrp .left_side 
    display: flex
    align-items: center

.headerWrp .left_side
    width: 450px
    padding-left: 220px

.headerWrp .right_side
    display: flex
    align-items: center
    padding-left: 60px
    width: 350px

.headerWrp .middle
    display: flex
    align-items: center
    width: 660px

.mainName
    font-family: Andale Mono, monospace
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 27px
    display: flex
    align-items: center
    color: #FFFFFF

.routName
    font-family: Andale Mono, monospace
    font-style: normal
    font-weight: normal
    font-size: 10px
    line-height: 12px
    width: 50px
    cursor: default
    margin-top: 2px
    margin-left: -5px
    text-transform: uppercase
    color: #FFFFFF

\:global(.ui.basic.label).routElement
    width: 30px
    height: 40px
    background: #121421
    justify-content: center
    display: flex
    border: none
    margin: auto

.iconWrp
    margin: auto



\:global(.ui.icon.input).search
    width: 370px
    position: relative
    padding-left: 100px



.homeLine
  position: relative
  width: 50px
  height: 2px
  margin-left: -5px
  background: linear-gradient(17.32deg, #0084f8 9.02%, #ff8576 90.81%)
