.header
  color: white !important
  font-size: 1.7em !important
  margin-bottom: 1em
  font-weight: 600 !important
  display: flex
  align-items: flex-end
  justify-content: flex-start
  &__title
    margin-right: 0.5em

#borderless_btn
  display: flex
  color: white !important
  text-decoration: underline
  background: none !important
  box-shadow: none !important
  font-size: 0.7em !important
  border: none !important
  margin: 0 0 0.15em 1em !important
  padding: 0 !important
  &:hover
    opacity: 0.8

.btn_right
  margin-left: auto !important
  height: 40px
  width: 165px

.btn_create_more
  padding: unset !important
  white-space: nowrap !important

.cards_layout
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: stretch !important
  gap: 2%

