.meta_info
  display: flex
  flex-direction: row
  color: #CBCFD4 !important
  gap: 1em

  a
    color: #8c8c8c
    font-style: italic

    &:hover
      text-decoration: underline

  span
    margin-right: 1em

.block_top
  padding: 1em 2em 0
  margin-top: 12px
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row

.tags
  margin: auto 0
  justify-content: center
  span
    margin-right: 8px
    text-transform: uppercase
    color: #FF8576
    font-size: 1em

.course_card
  margin: 0 !important
  height: 100%
  width: 100% !important
  border-radius: 0 !important
  background: #2B2A36 !important
  box-shadow: none !important

.card_image
  img
    height: 15rem!important
    object-fit: cover

.inner_wrapper
  padding: 1em 2em 0 !important
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 2em

.title
  font-size: 1.5em !important
  font-weight: normal !important
  color: white !important
  flex-grow: 1

  a
    color: white !important

.level_text
  color: #FF8576
  font-size: 1em
  text-transform: uppercase

.duration
  color: #FF8576

.btn_more
  width: 100%
  padding-top: 1.5em !important
  padding-bottom: 1.5em !important
  border-radius: 0 !important

.btn_more_arrow
  background: none !important
  font-size: 1.5em !important
  font-weight: 100 !important

\:global(.ui[class*="right labeled"].icon.button).btn_more
  padding-right: 1.5em !important

.rating_block
  display: flex
  justify-content: flex-end
  align-items: center

  & > p
    margin-left: 10px !important
    font-size: 1.1em
    color: #FF8576

.link
  cursor: pointer

  &:hover
    text-decoration: underline
