$info_padding: 1.5em
$info_gap: 0.3em
$name_size: 1.5em
$first_row_size: 2em
$meta_size: 1.9em
$meta_font_size: 0.9em
$card_height: ($info_gap*2) + ($info_padding*2) + $first_row_size + $meta_size*2
$image_height: ($info_gap*2) + $first_row_size + $meta_size*2
$image_width: 10em

.container
  display: grid
  grid-template-columns: $image_width 1fr
  border-bottom: 1px solid #4a5053
  height: $card_height
  position: relative

.image
  &_container
    grid-area: 1 / 1 / span 2 / span 1
    max-height: $image_height
    overflow: hidden
    background: #2B2A36
    margin-bottom: $info_padding
    margin-top: $info_padding

  &_preview
    max-height: $image_height
    object-fit: cover
    opacity: 0.8
    position: relative

  &_cover
    position: absolute
    background: linear-gradient(81.21deg, #3378BD 9.02%, #FF8576 90.81%)
    opacity: 0.4
    z-index: 1
    height: $image_height
    width: $image_width

.dependency
  &__container
    position: relative
    grid-area: 1 / 2
    padding: $info_padding
    display: grid
    gap: $info_gap
    grid-template-rows: $first_row_size $meta_size $meta_size
    grid-template-columns: 1fr

  &__name
    grid-area: 1 / 1 / span 1 / span 3
    font-size: $name_size
    overflow: hidden
    word-break: keep-all
    text-overflow: ellipsis
    white-space: nowrap

  &__category
    font-size: $meta_font_size - 0.1em
    font-family: Montserrat, serif
    grid-area: 2 / 1 / span 1 / span 4
    text-transform: uppercase
    color: #F27A54

  &__level
    text-transform: uppercase
    grid-area: 1 / 4


  &__meta
    &_container
      grid-area: 3 / 1
      display: flex
      flex-direction: row
      gap: 1.5em
      align-items: flex-end
      overflow: hidden
      column-width: 1px
      flex-wrap: wrap
      & > *
        font-size: $meta_font_size
        font-family: Montserrat, serif

    &__time
      &_duration
        font-weight: bold
        color: #F27A54
      &_unit
        margin-left: 0.5em

    &__info_row
      height: 100%
      white-space: nowrap
      display: flex
      align-items: flex-end
      column-gap: 1.5em

.btn_container
  position: absolute
  opacity: 1
  z-index: 2
  height: 100%
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  &:hover
    opacity: 1

.btn
  &_add, &_remove
    $btn-height: 2.5em
    transition: opacity 3s ease-in-out
    position: absolute
    right: 1em
    height: $btn-height
    width: $btn-height
    cursor: pointer
    border-radius: 50% !important
    text-align: center !important
    line-height: 130% !important
    font-size: 1.3em !important
    &:hover
      filter: brightness(150%)

  &_add
    background: transparent !important
    color: grey !important
  &_remove
    background: transparent !important
    color: grey !important
